*.jpg
*.mp4
*.onnx
data/
data/**/
data/*.ipynb
output/

__pycache__/
**/__pycache__/

__MACOSX/

*.pth
*.csv

logs/
plots/

/experiments/dataset_tests.ipynb
debugging.txt
/msi_results/

/diverAD_models_sandbox/TSF.ipynb
sandbox.ipynb
*.ipynb

.ipynb_checkpoints
*/.ipynb_checkpoints/*

sandbox.py
